<h1>MyPages#about</h1>
<p>Find me in app/views/my_pages/about.html.erb</p>
<br>
<p>This is the about page.</p>
<p>We have been using this resources to create this application</p>
<ul><a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a></ul>
<ul><a href="http://guides.rubyonrails.org/">Rails Guides</a></ul>
<ul><a href="https://pragprog.com/book/rails5/agile-web-development-with-rails-5">Agile Web Development Text</a></ul>
<ul><a href="https://www.w3schools.com/">W3 Schools</a></ul>
