<h1>MyPages#home</h1>
<p>Find me in app/views/my_pages/home.html.erb</p>
<br>
<p>This is my home page for this application</p>
<img src="/firstapp/app/assets/images/stickman.jpg" alt="pic of stick person">
